<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIASC</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/28d6173d15.js"></script>
    <link rel="icon" href="{% static 'image/icon.jpg' %}">
    <style>
        .mb-5{
            border: 5px solid black;
            padding: 20px;
            box-shadow: 5px 5px 5px 5px black;
        }
        a{
            font-size: 20px;
        }
    </style>
</head>
<body style="background-color: antiquewhite;">

    <div class="row m-5" style="text-align: center;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-dark">WELCOME TO ALL</h1>
            <h1 class="text-primary">KAMAL INSTITUDE ARTS AND SCIENCE COLLEGE</h1>
            <h3 class="text-danger">AUTONOMOUS (NACC A<sup>++</sup>)</h3>
            <h4 class="text-success">Tiruchirappalli-6200003</h4><br>
            <h3 class="text-danger">VIDEOS AND RECORDS</h3> <br><br>
        </div>
    
    <div class="row ">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <h1><iframe width="380" height="320" src="https://www.youtube.com/embed/sZqgjguwYog?si=9wqO1FQMfxGbsOQF"
                 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                 encrypted-media; gyroscope; picture-in-picture; web-share"
                 referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></h1>
        </div>
        
        <div  class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <h1><iframe width="380" height="320" src="https://www.youtube.com/embed/Tuef3FaH1h4?si=BTC0wWyTON441L2a" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture;
                 web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <img src="{% static 'image/video-cultural.jpg' %}" alt="" width="200px" height="150px">
                <div>
                    <h4>College culture in 2021 was shaped by hybrid learning, virtual events, 
                        social activism, mental health awareness, creative adaptation, and shifting norms.</h4>
                    <a href="https://youtu.be/c4bHICaaMII?si=3N1qbsLYC-zYMO0C">https://youtu.be/c4bHICaaMII?si=3N1qbsLYC-zYMO0C</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <div>
                <img src="{% static 'image/video-cultural2.jpg' %}" alt="" width="200px" height="150px">
                    
                    <h4>College culture in 2012 revolved around in-person classes, social media's rise,
                        campus traditions, YOLO mindset, music festivals, and minimal digital learning.</h4>
                        <a href="https://youtu.be/_mY4dif-YQo?si=cbNzLFetlus7UZeM">https://youtu.be/_mY4dif-YQo?si=cbNzLFetlus7UZeM</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <img src="{% static 'image/video-speech.jpg' %}" alt=""  width="200px" height="150px">
                <div>
                    <h4>In 2021, college speeches emphasized resilience, adaptability, social justice, mental health, innovation, community building, 
                        environmental responsibility, and navigating post-pandemic challenges.</h4>  
                        <a href="https://youtu.be/-0qo-zFs7Ek?si=s04iuQm2pOm5euMF">https://youtu.be/-0qo-zFs7Ek?si=s04iuQm2pOm5euMF</a>
                </div>
            </div> 
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <img src="{% static 'image/video-speech2.jpg' %}" alt=""  width="200px" height="150px">

                <div>
                    <h4>In 2020, college speeches focused on uncertainty, resilience, remote learning, unity, health, social change,
                        adaptability, gratitude, and overcoming unprecedented challenges.</h4>
                        <a href="https://youtu.be/LxYNxLWx98g?si=2ODm61DuaZnGfRPk">https://youtu.be/LxYNxLWx98g?si=2ODm61DuaZnGfRPk</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <img src="{% static 'image/video-annuval.jpg' %}" alt="" width="200px" height="150px">

                <div>
                    <h4>College Annual Day 2022 celebrated post-pandemic revival, achievements, cultural performances, resilience,
                        teamwork, innovation, inclusion, sustainability, and community growth.</h4> 
                        <a href="https://youtu.be/DlG-xdR7jA4?si=HA2lt1xJrE5DrpHP">https://youtu.be/DlG-xdR7jA4?si=HA2lt1xJrE5DrpHP</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <div>
                    <img src="{% static 'image/video-sport.jpg' %}" alt="" width="200px" height="150px">
                    <h4>College Sports Day 2019 highlighted team spirit, intense competition, athletic excellence, inclusivity,
                        vibrant energy, camaraderie, record-breaking performances, and celebration of fitness.</h4>
                        <a href="https://youtu.be/kKzV1UUEoLw?si=KiqEAyCKN_ojiBk_">https://youtu.be/kKzV1UUEoLw?si=KiqEAyCKN_ojiBk_</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <img src="{% static 'image/video-pongal.jpg' %}" alt="" width="200px" height="150px">

                <div>
                    <h4>College Pongal Function 2024 celebrated tradition, cultural unity, 
                        vibrant decor, folk dances, rangoli, festive games, music, joy, and gratitude.</h4> 
                        <a href="https://youtu.be/Il1lV9Rj7W0?si=ho064w8RTQGGB7MC">https://youtu.be/Il1lV9Rj7W0?si=ho064w8RTQGGB7MC</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
            <div>
                <img src="{% static 'image/video-dwali.jpg' %}" alt="" width="200px" height="150px">

                <div>
                    <h4>College Diwali Function 2021 showcased vibrant decor, diyas, cultural performances, 
                        traditional attire, rangoli, music, festive foods, joy, and unity.</h4>
                        <a href="https://youtube.com/shorts/FZ21JEv3X9g?si=aJobU4gxmIzM2OFc">https://youtube.com/shorts/FZ21JEv3X9g?si=aJobU4gxmIzM2OFc</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>